<div class="container-scroller">

    <app-auth-navbar></app-auth-navbar>
    <div class="container-fluid page-body-wrapper">

    <app-auth-sidebar></app-auth-sidebar>

    <div class="main-panel">
                <div class="content-wrapper">
                  <div class = "row">

                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Watering Time  <small>(Office hours are 9am to 6pm)</small></h4>
                            <input type="time" id="appt" name="appt"
                              min="09:00" max="18:00" required>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Dispencing Now</h4>
                                <button type="submit" class="btn btn-success mr-2">OFF</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Timer</h4>
                              <!-- <div class="col-xs-4">
                                <div class="form-group">
                                  <div class="input-group timepicker">
                                    <input type="time" class="form-control" >
                                    <span class="input-group-addon">
                                      <span class="fa fa-clock-o"></span>
                                    </span>
                                  </div>
                                </div>
                              </div> -->
                              <form #formRef="ngForm">
                                <div *ngFor="let timer of timer; let in=index" class="col-sm-8">
                                    <div class="form-group">
                                      <input type="time" [(ngModel)]="timer[in].value" name="name{{in}}" class="form-control" #name="ngModel" required />
                                    </div>
                                    <br />
                                </div>
                                <button [disabled]="!formRef.form.valid" (click)="add()">Add Timer</button>
                              </form>
                              <br />
                              <br />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Quantity 1.76 Ml/Sec</h4>
                              <input type="number">
                            </div>
                          </div>
                        </div>
                    </div>

                    </div>


                      <!-- content-wrapper ends -->
                      <!-- partial:../../partials/_footer.html -->
                      <footer class="footer">
                        <div class="container-fluid clearfix">
                          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i>
                          </span>
                        </div>
                      </footer>
                      <!-- partial -->


    </div>
    </div>
    </div>




