<div class="container-scroller">

    <app-auth-navbar></app-auth-navbar>
    <div class="container-fluid page-body-wrapper">

    <app-auth-sidebar></app-auth-sidebar>

    <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Mix Status</h4>

                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Target EC</h4>
                                <div class="template-demo">
                                  <input type="number">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Target PH</h4>
                                <input type="number" max="14"  min="0">

                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Target Water Level</h4>
                                <input type="number">
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12 grid-margin">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Start</h4>
                                <button type="submit" class="btn btn-success mr-2">Start</button>
                                <button class="btn btn-light">Cancel</button>
                              </div>
                            </div>
                          </div>
                      </div>
                </div>
                      <!-- content-wrapper ends -->
                      <!-- partial:../../partials/_footer.html -->
                      <footer class="footer">
                        <div class="container-fluid clearfix">
                          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i>
                          </span>
                        </div>
                      </footer>
                      <!-- partial -->


    </div>
    </div>
    </div>
