<div class="container-scroller">

    <app-auth-navbar></app-auth-navbar>
    <div class="container-fluid page-body-wrapper">
    
    <app-auth-sidebar></app-auth-sidebar>
    
    <div class="main-panel">
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Test</h4>
                          <button type="button" class="btn btn-primary btn-fw" >Test</button>
                        </div>
                      </div>
                </div>
                      <!-- content-wrapper ends -->
                      <!-- partial:../../partials/_footer.html -->
                      <footer class="footer">
                        <div class="container-fluid clearfix">
                          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i>
                          </span>
                        </div>
                      </footer>
                      <!-- partial -->
    
    
    </div>
    </div>
    </div>
