<div class="container-scroller">

    <app-auth-navbar></app-auth-navbar>
    <div class="container-fluid page-body-wrapper">
    
    <app-auth-sidebar></app-auth-sidebar>
    
    <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="card-body">
                            <h4 class="card-title">EC</h4>
                            <p class="card-description">ค่าความเข้มข้นของปุ๋ย</p>
                            <div class="template-demo">
                              <div class="flexbox">
                                <div class="box">
                                  <div id="g6" class="gauge"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                            <h4 class="card-title">PH</h4>
                            <p class="card-description">ค่าความเป็นกรดด่างของน้ำ</p>
                            <div class="template-demo">
                              <div class="flexbox">
                                <div class="box">
                                  <div id="g7" class="gauge"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                          <div class="card-body">
                            <h4 class="card-title">Water Level</h4>
                            <p class="card-description">ค่าระดับน้ำที่มีอยู่ในถังผสมปุ๋ย</p>
                            <div class="template-demo">
                              <div id="g5" class="gauge"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                            <h4 class="card-title">Temperature</h4>
                            <p class="card-description">ค่าอุณหภูมิของคอนโทรลเลอร์</p>
                            <div class="template-demo">
                              <div id="g4" class="gauge"></div>
                            </div>
                          </div>
                        </div>
                        </div>
                       
                </div>
                      <!-- content-wrapper ends -->
                      <!-- partial:../../partials/_footer.html -->
                      <footer class="footer">
                        <div class="container-fluid clearfix">
                          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i>
                          </span>
                        </div>
                      </footer>
                      <!-- partial -->
    
    
    </div>
    </div>
    </div>
